.App {
  font-family: sans-serif;
}

.table{
  border: 2px solid grey;
}

#react-app {
  margin: auto;
  width: 30%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

input { 
  text-align: right; 
}

.text-subtitle{
  color: gray;
}
